<div layout="row" layout-align="center center">


<div ng-controller="AddController" layout="column" layout-padding ng-cloak>
    <h3 style="align-self: center">Arzish Grammer School Admission form </h3>
    <h5 style="align-self: center">Add Student</h5>
    <br/>
    <md-content class="autoScroll">
        <div layout="row">

            <ng-md-icon icon="person" style="fill:black; margin-bottom: 9%;" size="24"></ng-md-icon>
                <md-input-container class="md-icon-float">
                    <!-- Use floating label instead of placeholder -->

                    <label>Student Name</label>

                    <!-- <md-icon  icon="person" class="name"></md-icon>-->
                    <input ng-model="student.name" type="text" />
                </md-input-container>


            <md-input-container class="md-icon-float md-block" >

                <!-- Use floating label instead of placeholder -->
                <label >Guardian Name</label>

                <input ng-model="student.guardian" type="text" style="margin-left: -5%;">
            </md-input-container>
        </div>
       <!-- <div layout="row">-->
            <md-input-container style="width: 100%">
                <label style="margin-bottom: 2%; ">Guardian Type</label>
                <md-radio-group ng-model="student.guardian_type" class="radioBtn" >
                    <md-radio-button value="father" class="md-primary" style="display: inline; margin-left: 35%; " > Father </md-radio-button>
                    <md-radio-button value="mother" class="md-primary" style="display: inline; margin-left: 5%; "> Mother </md-radio-button>
                </md-radio-group>
            </md-input-container>





       <!-- </div>-->
        <div     style="" >
            <label >Admission Date</label>
            <md-datepicker style="margin-left: 33%;" ng-model="student.admissionDate" md-placeholder="Enter date" >
            </md-datepicker>
        </div>




        <div layout="row">
           <!-- <label >Phone Number</label>-->
            <ng-md-icon icon="call" style="fill:black; margin-bottom: 9%;" size="24"></ng-md-icon>
            <md-input-container style="margin-left: 5%; ">
                <!--<ng-md-icon md-svg-src="img/icons/ic_phone_24px.svg"></ng-md-icon>-->

                <input ng-model="student.parent_phone" type="text" placeholder="Phone Number" >
            </md-input-container>

             <md-input-container class="md-icon-float md-icon-right "style="margin-left: 19%">
            <!--<md-icon md-svg-src="img/icons/ic_card_giftcard_24px.svg"></md-icon>-->
                 <label>Admission fees Amount</label>
                 <input ng-model="student.addmission_fees" type="number" style="width: 119%;">
            </md-input-container>
        </div>


       <!-- <md-input-container class="md-block">
            &lt;!&ndash; Use floating placeholder instead of label &ndash;&gt;
            <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
            <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
        </md-input-container>-->

        <md-input-container md-no-float class="md-block">
            <ng-md-icon icon="location_on" style="fill:black; " size="24"></ng-md-icon>
            <input ng-model="student.address" type="text" placeholder="Address" style="width: 90%;" >
        </md-input-container>

        <div layout="row">
            <md-button class="add-tab md-primary md-raised" ng-disabled="!student.name || !student.guardian || !student.guardian_type || !student.admissionDate || !student.parent_phone || !student.address || !student.addmission_fees" type="submit" style="width: 100%;" ng-click="submit()">Submit</md-button>
        </div>

       <!-- <md-button class="add-tab md-primary md-raised" ng-disabled="!tTitle || !tContent" type="submit" >Add Tab</md-button>-->

    </md-content>
</div>
</div>