


<div ng-controller="PanelController as ctrl" layout="column" ng-cloak>
    <md-content class="md-padding" layout="column">
        <h2 class="md-title">Use a custom chip template.</h2>
        <form name="fruitForm">
            <md-chips ng-model="ctrl.roFruitNames" name="fruitName" readonly="ctrl.readonly" md-max-chips="5">
                <md-chip-template>
                    <strong>{{$chip}}</strong>
                    <!--<em>(fruit)</em>-->
                </md-chip-template>
            </md-chips>
            <div class="errors" ng-messages="fruitForm.fruitName.$error">
                <div ng-message="md-max-chips">The maxmium of chips is reached.</div>
            </div>
        </form>
    </md-content>
</div>
